# Dépendances
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/

# Fichiers générés / caches
*.log
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem

# Variables d'environnement
.env
.env.local
.env.*.local

# Éditeurs / OS
.vscode/
.idea/
Thumbs.db

# Tests / couverture
coverage/
